.primero {
    color: white;
    background: black;
    font-family: 'Courier New', Courier, monospace;
}

.segundo {
    color: blue;
    background: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}*/