body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}

header {
    padding: 20px;
    color: white;
    background: black;
    text-align: right;
    font-size: 28px;
}

section {
    display: flex;
}

article {
    padding: 10px;
    text-align: center;
    width: 100%;
}

#articulo-1 {
    background: chocolate;
}

#articulo-2 {
    background: coral;
}

#articulo-3 {
    background: cyan;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}